/* common */

*{
  margin: 0 ;
  padding: 0;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 4.8rem;
}

h2 {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 3.6rem;
  margin: 80px 0 60px;
}
p{
  font-size: 1.2rem;
}
/* header */

header {
  background-color: rgb(247, 238, 238);
  height: 12vh; 
}

header ul{
  display: flex;
  margin-left: 1.7rem;
}

header li{
  list-style: none;
  margin: 1.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
  line-height: 2rem;
 }
header nav a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header nav a:hover{
 color: rgb(124, 119, 119);
}

/* hero */
.hero{
  background-image: url(../img/hand.jpg);
  background-size: cover;
  background-repeat:no-repeat ;
  height: 84vh;
  background-position: center;
  text-align: center;
  padding-top: 15vh;
}

/* work */

#works ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
  max-width: 100%;
  padding: 0 15px;
}

#works li {
  list-style: none; 
  width: calc((100% - 90px) / 4);
}
#works li img{
 width: 100%;
 height: auto;
 border-radius: 50%;
}

/* menu */

.wrapper{
  display: flex;
  justify-content: center;
  gap: 1.3rem;
}

table th{
  border-bottom: solid 1px rgb(129, 124, 124); 
  font-size: 1.3rem;
}
table td{
  padding: .5rem 1rem;
}

/* contact */

#contact{
  margin-top: 3rem;
  background-image: url(../img/contact.jpg);
  background-size: cover;
  background-repeat:no-repeat ;
  height: 100vh;
  background-position: center;
  text-align: center;
  padding-top: 2rem;
}

.icon a {
  color: #ee827c;
}
.icon a :hover{
  color: #fcb5b1;
}
.icon i{
  padding-top: 2.2rem;
  margin: 0 1.2rem;
}


/* footer */
footer{
  height:2rem ;
  text-align: center;
  padding-top: 1rem;
  color: #eee;
  background-color: rgb(243, 203, 203);
}


@media (max-width: 900px){
  #works li {
    width: calc((100% - 90px) / 3);
  }
}

@media (max-width: 420px){
  #works li {
    width: calc((100% - 60px) / 2);
  }
  header li{
    margin: 1rem 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}
